@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

table,
button {
    text-transform: uppercase !important;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 800;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.notice {
    margin-top: 20em;
}

.fa-triangle-exclamation {
    transform: scale(2);
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007e;
    backdrop-filter: blur(10px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #ff0000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.spinner-overlay.show {
    display: flex;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #f9f9f9;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

#sidebar.collapsed {
    margin-left: -264px;
}

.toggler-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.toggler-btn i {
    font-size: 1.75rem;
    color: #000;
    font-weight: 1000;
}

.navbar {
    padding: 1.15rem 1.5rem;
    background-color: #dedede;
    /* border-bottom: 2px dashed #b3a8a8; */
}

.sidebar-nav {
    flex: 1 1 auto;
}

.sidebar-link span {
    font-size: .9em !important;
}

.sidebar-item li a {
    font-size: 1em !important;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
    text-align: center;
}

.sidebar-logo a {
    color: #FFF;
    font-weight: 800;
    font-size: 1.5rem;
}

.sidebar-header {
    color: #FFF;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    position: relative;
    transition: all 0.35s;
    display: block;
    font-size: 1.1rem;
}

a.sidebar-link:hover {
    background-color: #f9f6f630;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.bar {
    background-color: #000;
    width: 30px;
    height: 3px;
    margin: 4px;
}


.hpl_logo {
    width: 100px;
    transition: all .3s ease-in-out;
    border-radius: 50%;
}

.sidebar-footer i.arrow {
    transform: rotate(180deg);
}

#loginForm input {
    width: 500px;
}

#allocateForm input {
    width: 500px;
}

.form-control,
.form-select {
    outline: none !important;
    margin-bottom: 1rem;
    width: 100%;
}

.form-control:focus,
.form-select:focus {
    outline: none !important;
    border: 3.5px solid #000 !important;
    box-shadow: none !important;
}

.form-floating {
    position: relative;
}

.form-floating input {
    padding: 1rem 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

.form-floating select {
    padding: 0 .5rem !important;
    font-size: 1rem;
    color: #495057;
}

.form-floating label {
    position: absolute;
    top: 1em;
    left: .9rem;
    padding: 0 0.5rem;
    pointer-events: none;
    transition: all 0.2s ease;
    background: white;
    height: 23px;
}

.form-floating input:focus+label,
.form-floating input:not(:placeholder-shown)+label {
    top: 0rem;
    left: 1rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    height: 30px;
}

.form-buttons {
    display: flex;
    justify-content: end;
    gap: 1em;
}

#pagination li.active {
    background-color: #fff;
    padding: .2em 1em;
    border-radius: 2px;
    color: #000 !important;
    font-weight: 800;
}

#pagination li.disabled {
    opacity: 20%;
}

#searchAssets .input-search {
    width: 500px;
}

.input-fields {
    padding: .5em 1em;
    width: 200px !important;
    text-align: center;
    /* border: none; */
}

.input-fields:read-only {
    background-color: #d6d6d6;
}

#show .form-floating input:focus+label,
#show .form-floating input:not(:placeholder-shown)+label {
    border-radius: 5px;
}

#showdata {
    position: relative;
    z-index: 1;
}

.overlay {
    background-color: #000000c6;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

/* 
.history-modal {
    background-color: #fff;
    padding: 1em;
    position: absolute;
    left: 0;
    transform: translateX(20%);
} */

.hidden {
    display: none;
}

#inventory {
    position: absolute;
    top: 10em;
    left: 15%;
    z-index: 999;
}

#addAssets input.group {
    width: 270px !important;
}

#addAssets button.btn-warning,
#addAssets button.cancel {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

table {
    border: 3px solid #1b1b1b !important;
}

#show td input.input-fields {
    width: 100% !important;
}

.parts-search {
    width: 350px;
    height: 50px;
}

#buildForm .form-select {
    width: 300px !important;
}


#showassets input[readonly] {
    background-color: #dbd8d8;
}
#showassets input[readonly]:focus {
    /* border: none; */
    outline: none !important;
}

.employee-id {
    width: 104px;
}

#registerForm label small {
    font-size: .8em;
}

/* 
@media screen and (max-width: 769px) {
    #registerForm input {
        width: 300px;
    }
} */