body {
    background-color: goldenrod;
}
h1 {
    font-family: tahoma;
    color: blue;
    font-size: 40px;
}
h2 {
    font-family: Verdana;
    color: green;
    font-size: 25px;
}
.header {
    color: whitesmoke;
    font-size: 30px;
}
label {
    font-family: Verdana;
    color: green;
    font-size: 25px;
    display: inline-block;
    width: 300px; /* Adjust width to ensure labels and inputs align properly */
}
.outputLabel {
    font-family: Verdana;
    color: whitesmoke;
    font-size: 25px;
}
input {
    font-size: 20px;
}
#output {
    font-family: Helvetica;
    color: whitesmoke;
    font-size: 25px;
}
.viewButton {
    font-family: Century Gothic;
    font-size: 20px;
    color: white;
    background-color: red;
    border-color: green;
    width: 250px;
    height: 75px; 
}
.submitButton {
    font-family: Century Gothic;
    font-size: 20px;
    color: white;
    background-color: yellowgreen;
    border-color: green;
    width: 250px;
    height: 75px;
}