@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle_btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

/* .toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
} */

.sidebar_logo {
    margin: auto 0;
}

.sidebar_logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar_logo,
#sidebar:not(.expand) a.sidebar_link span {
    display: none;
}

.sidebar_nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar_link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar_link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar_link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar_item {
    position: relative;
}

#sidebar:not(.expand) .sidebar_item .sidebar_dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar_item:hover .has-dropdown+.sidebar_dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar_link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar_link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}


.dilg_logo {
    width: 50px;
    transition: all .3s ease-in-out;
}

.sidebar_footer i.arrow {
    transform: rotate(180deg);
}

#registerForm input {
    width: 500px;
}

.form-control {
    outline: none !important;
    margin-bottom: 1rem;
    width: 100%;
}

.form-control:focus {
    outline: none !important;
    border: 1px solid #3e5546 !important;
    box-shadow: none !important;
}

.form-floating {
    position: relative;
}

.form-floating input {
    padding: 1rem 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

.form-floating select {
    padding: 0 .5rem !important;
    font-size: 1rem;
    color: #495057;
}

.form-floating label {
    position: absolute;
    top: 0;
    left: 0.5rem;
    padding: 0 0.5rem;
    pointer-events: none;
    transition: all 0.2s ease;
    /* background: white; */
}

.form-floating input:focus+label,
.form-floating input:not(:placeholder-shown)+label {
    top: -.3rem;
    left: 1rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    height: 30px;
}

.form-buttons {
    display: flex;
    justify-content: end;
    gap: 1em;
}

@media screen and (max-width: 769px) {
    #registerForm input {
        width: 300px;
    }
}